.posts-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
}

article {
  margin: 0 0 40px;
  display: block;
}

article img {
  width: 100%;
}

.cat-link,
.tag-link {
  text-decoration: none;
  color: #ff9600;

  &:hover {
    color: #ffb400;
  }
}

.post-date {
  margin: 10px 0;
  display: inline-block;
  font-size: 11px;
}

.read-more {
  background-color: #ffb400;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.3s;
  margin: 10px 0 0;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    background-color: #ff9600;
    color: white;
  }
}

.post-prev-link {
  border-radius: 99px 0 0 99px;
}

.post-next-link {
  border-radius: 0 99px 99px 0;
}

.page-number.white {
  color: white !important;
  background-color: #ffb400;
}
