@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: blue;
  text-decoration: none;
  @include transition(all, 0.3s);

  &:hover {
    color: red;
  }
}

.post-date {
  margin: 10px 0;
  display: inline-block;
  font-size: 11px;
}
p {
  margin-bottom: 10px;
}
h1 {
  margin-bottom: 20px;
}
.page-number.white {
  color: white !important;
}

.read-more {
  background-color: blue;
  color: white;
  border-radius: 4px;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 13px;
  transition: all 0.3s;
  margin: 10px 0 0;
  display: inline-block;
  &:hover {
    background-color: red;
    color: white;
  }
}

.post-prev-link {
  border-radius: 99px 0 0 99px;
}

.post-next-link {
  border-radius: 0 99px 99px 0;
}
