@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a {
  color: blue;
  text-decoration: none !important;
  @include transition(all, 0.3s);

  &:hover {
    color: red;
  }
}

p {
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.1em;
}

header {
  background: #fff;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  width: 100%;
  background-color: #2b2c30;
}

header img {
  max-width: 100% !important;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include sm-screen {
    padding-top: 10px;
  }
}

.header-menu nav {
  float: right;

  @include md-screen {
    float: none;
  }

  @include sm-screen {
    float: none;
  }
}

.navbar-toggler {
  @include md-screen {
    position: fixed;
    top: 0;
    right: 0;
  }

  @include sm-screen {
    position: fixed;
    top: 0;
    right: 0;
  }
}

.navbar-toggler-icon {
  background: none !important;
}

/* Collapsed state */
.navbar-toggler.collapsed .navbar-toggler-icon::before {
  content: "";
  width: 30px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 0;

  @include transition(all, 0.3s);

  transform: translateY(0px) translateX(0px) rotate(0deg);
}

.navbar-toggler.collapsed .navbar-toggler-icon::after {
  content: "";
  width: 15px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 15px;
  left: 0;

  @include transition(all, 0.3s);

  transform: translateY(0px) translateX(0px) rotate(0deg);
}

/* Expanded state */
.navbar-toggler .navbar-toggler-icon::before {
  content: "";
  width: 13px;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 17px;
  left: 0;

  @include transition(all, 0.3s);

  transform: translateY(0px) translateX(10px) rotate(-45deg);

  -webkit-transition: height 0.3s, top 0.3s, bottom 0.3s, border-radius 0.15s,
    opacity 0.15s, background 0.3s, -webkit-transform 0.15s 0.3s;

  transition: height 0.3s, top 0.3s, bottom 0.3s, border-radius 0.15s,
    opacity 0.15s, background 0.3s, -webkit-transform 0.15s 0.3s;
}

.navbar-toggler .navbar-toggler-icon::after {
  content: "";
  width: 13px;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 19px;
  left: 0;

  @include transition(all, 0.3s);

  transform: translateY(0px) translateX(10px) rotate(45deg);

  -webkit-transition: height 0.3s, top 0.3s, bottom 0.3s, border-radius 0.15s,
    opacity 0.15s, background 0.3s, -webkit-transform 0.15s 0.3s;

  transition: height 0.3s, top 0.3s, bottom 0.3s, border-radius 0.15s,
    opacity 0.15s, background 0.3s, -webkit-transform 0.15s 0.3s;
}

footer {
  padding: 15px 0;
  margin: 30px 0 0;
  font-size: 12px;
  border-top: 1px solid #ccc;
}

@import "bootstrap-menu";
@import "blog";
