@import "mixins";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.container.body {
  margin: 50px auto;
}

img {
  max-width: 100%;
}

a {
  color: #ff9600;
  text-decoration: none !important;
  @include transition(all, 0.3s);

  &:hover {
    color: #ffb400;
  }
}

p {
  margin-bottom: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.1em;
}

header {
  background-color: #2b2c30;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  width: 100%;
}

header img {
  max-width: 100% !important;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @include sm-screen {
    padding-top: 10px;
  }
}

.header-menu nav {
  float: right;

  @include md-screen {
    float: none;
  }

  @include sm-screen {
    float: none;
  }
}

footer {
  padding: 15px 0;
  font-size: 12px;
  background-color: #2b2c30;
  color: white;
}

.hero-banner-btn {
  padding: 1.3rem 2rem;
  line-height: 0;
  background-color: #ffb400;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open sans";

  @include borderRadiusAll(99px);
}

.hero-banner-btn:hover {
  background-color: #ff9600;
  color: white;
}

@import "bootstrap-menu";
@import "blog";
@import "helpers";
@import "footer";
@import "widgets";
